@import "./color";
@import "./text";

@import "./sidebar";
@import "./profile";
@import "./timeline";
@import "./rightBar";

main {
	width: 100vw;
	max-width: 1200px;
	margin: 0px auto;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 2px;
	overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $lightYellow;
	border-radius: 10px;
	overflow: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $yellow;
}
